<div class="container">
  <button class="btn btn-outline-primary me-2" (click)="get500Error()">
    test server error 500
  </button>
  <button class="btn btn-outline-primary me-2" (click)="get400Error()">
    test bad request 400
  </button>

  <button class="btn btn-outline-primary me-2" (click)="get401Error()">
    test not authorized 401
  </button>
  <button class="btn btn-outline-primary me-2" (click)="get404Error()">
    test not found 404
  </button>
  <button
    class="btn btn-outline-primary me-2"
    (click)="get400ValidationError()"
  >
    test bad request validation400
  </button>

</div>
<div class="container mt-5" *ngIf="validationErrors.length > 0">
  <h4>Validation errors</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let error of validationErrors">
      {{ error }}
    </li>
  </ul>

</div>
