<form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="mb-3">
    <label for="" style="margin-right: 10px">I am a</label>
    <label for="" class="form-check-label">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />

      Male
    </label>
    <label for="" class="form-check-label">
      <input
        type="radio"
        class="form-check-input ms-3"
        value="female"
        formControlName="gender"
      />

      Male
    </label>
  </div>

  <app-input-text
    [label]="'Username'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['username'])"
  ></app-input-text>
  <app-input-text
    [label]="'Known As'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['knownAs'])"
  ></app-input-text>
  <app-date-picker
    [label]="'Date of Birth'"
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [maxDate]="maxDate"
  ></app-date-picker>
  <app-input-text
    [label]="'City'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['city'])"
  ></app-input-text>
  <app-input-text
    [label]="'Country'"
    [type]="'text'"
    [formControl]="$any(registerForm.controls['country'])"
  ></app-input-text>
  <app-input-text
    [label]="'Password'"
    [type]="'password'"
    [formControl]="$any(registerForm.controls['password'])"
  >
  </app-input-text>

  <app-input-text
    [label]="'Confirm Password'"
    [type]="'password'"
    [formControl]="$any(registerForm.controls['confirmPassword'])"
  >
  </app-input-text>
  <div class="row" *ngIf="validationErrors">
    <div class="text-danger">
      <ul>
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center mt-2">
    <button
      type="submit"
      class="btn btn-success me-2"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <button type="button" class="btn btn-info" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
